<div class="container">

  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span>Angular CRUD witch Material UI</span>
    <span class="example-spacer"></span>
    <button (click)="createProduct()" mat-button color="accent">Добавить товар</button>
  </mat-toolbar>

</div>

<div class="container">

  <mat-form-field>
    <mat-label>Фильтр данных</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Начните ввод..." #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Название </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Категория </th>
        <td mat-cell *matCellDef="let row"> {{row.category | uppercase}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата </th>
        <td mat-cell *matCellDef="let row"> {{row.date | date: "dd.MM.yyyy"}} </td>
      </ng-container>

      <ng-container matColumnDef="productCondition">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Состояние </th>
        <td mat-cell *matCellDef="let row"> {{row.productCondition}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Цена </th>
        <td mat-cell *matCellDef="let row"> {{row.price | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Дополнительно </th>
        <td mat-cell *matCellDef="let row"> {{row.comment | length: 60}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Действия </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="updateProduct(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteProduct(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Нет данных, соответствующих фильтру "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Выберите страницу пользователей"></mat-paginator>
  </div>

</div>








